<br>
<main class="container2">
<div class="wrapper2" style="margin-top: 10rem;"> 

<h1>Edit profile</h1>
  <%= turbo_frame_tag Profile.new do %>
    <% render "form", profile: @profile%>
  <% end %>
  <br>
  <%= link_to "Change password or email", edit_user_registration_path(current_user), class:"btn btn-info btn-sm" %>
</div>
 
</main>
