/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    font-family: Sans-serif;
 }

 
.navbar{
    width: 100%;
    position: fixed;
    background-color: #4267B2;
    padding-left: 20rem;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.container .wrapper{
    text-align: center;
    align-items: center;
    padding: 1rem;
    width: 70rem;
    height: fit-content;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container .wrapper .header h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.wrappermain{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 10rem;
    padding: 1rem;
    text-align: center;
    width: 25rem;
}

.wrappermain1{
    margin-top: 8rem;
    padding: 1rem;
    width: 30rem;

}

.wrappermain1 h1{
    color: #6080c0;
    font-weight: bolder;
    font-size: 60px;
    
}

.wrappermain1 p{
    font-size: 30px;
    font-weight: 400;
}

.user a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.sidebar__profile h4 b{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.post-comment-meta .post-comment-meta__author a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.container1 .wrappermain .btn{
    width: 100%;
    font-weight: bold;
}


.container2{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.container2 .wrapper2, .sidebar{
    text-align: center;
    align-items: center;
    padding: 1rem;
    width: 25rem;
    height: fit-content;
    background: rgba(235, 231, 231, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container2 .wrapper2 .actions .btn{
    width: 100%;
}

.container2 .wrapper2 h1 p{
    text-align: left;
}

.container .sidebar__friends .sidebar__friends--container{
    padding: 1rem;
}

.container .sidebar__friends b{
    text-transform: capitalize;
}

.user{
    margin-bottom: 1rem;
    
}

.comment{
    background-color: rgb(243, 242, 238);
}

.post{
    background-color: rgb(231, 231, 222);
}

.sidebar__profile img{
    border-radius: 50%;
}

